.seller-rent-priceSection.cardWrapper {
    width: 80%;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.seller-rent-priceRow {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.seller-rent-priceRow h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    margin: 0;
}

.seller-rent-currency {
    font-size: 1.2rem;
    color: #555;
}

.seller-rent-statusRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.2rem;
    gap: 1rem;
}

.seller-rent-status p {
    padding: 0.5rem 1rem;
    border-radius: 10px;
    font-size: 1.5rem;
    margin: 0;
    display: inline-block;
    font-weight: bold;
}

.seller-rent-availableDate p {
    margin: 0;
}


@media (max-width: 1600px){
    .seller-rent-priceSection.cardWrapper{
        display: flex;
        flex-direction: column;
        padding: 2rem; 
    }
    
.seller-rent-priceRow {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.seller-rent-priceRow h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    margin: 0;
}

.seller-rent-currency {
    font-size: 1.2rem;
    color: #555;
}

.seller-rent-statusRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.2rem;
    margin-bottom: 0.5rem;
    gap: 0.5rem
    ;
}

.seller-rent-status p {
    padding: 0.5rem 1rem;
    border-radius: 10px;
    font-size: 1.5rem;
    margin: 0;
    display: inline-block;
    font-weight: bold;
}

.seller-rent-availableDate p {
    margin: 0;
}

}
.seller-rent-status p.rejected {
    background-color: #FFE0E0;
    color: #DC1919;
}

.seller-rent-status p.approved {
    background-color: #ECFEEF;
    color: #1BE440;
}

.seller-rent-status p.pending {
    background-color: #FFF2D6;
    color: #FFC341;
}

.seller-rent-status p.inactive {
    background-color: #E7E7E7;
    color: #8F8F8F;
}

.seller-rent-status p.approved-pending {
    background-color: #E5EFFF;
    color: #0F405E;
}

.seller-rent-status p.partial {
    background-color: #FFF2D6;
    color: #B45309;
}

.seller-rent-status p.paused {
    background-color: #E0E7FF;
    color: #3730A3;
}

.seller-rent-status p.rented {
    background-color: #E0F7F4;
    color: #0F766E;
}
