.sell-ListingDetails {
  display: flex;
  flex-direction: row;
  padding-left: 5%;
  padding-right: 8%;
  box-sizing: border-box;
  flex-wrap: nowrap;
  margin-top: 1%;
}

.sell-listingLeft {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sell-imageScroller {
  width: 90%;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 5px 9px 12px 12px rgba(0, 0, 0, 0.15);
  padding-top: 1.5rem;
  padding-bottom: 0.7rem;
  padding-left: 0rem;
  overflow: hidden;
}

.sell-ListingInfo {
  width: 90%;
  margin-top: 1rem;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 5px 9px 12px 12px rgba(0, 0, 0, 0.15);
  padding: 2rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.sell-ListingInfo h1 {
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: #222;
  margin-bottom: 0.1rem;
}

.sell-ListingInfo h1 span {
  padding: 0.3rem;
}

.sell-ListingInfo p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #555;
  line-height: 1.6;
}

.sell-moreListings.card {
  width: 87%;
  margin: 1.2rem auto;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 5px 9px 12px 12px rgba(0, 0, 0, 0.15);
  padding: 2rem;
  overflow: hidden;
}

.sell-moreListings.card h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  color: #222;
  margin-bottom: 1rem;
}

.sell-moreListingsCards {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
}

.sell-listingCard {
  flex: 0 0 32%;
  height: 150px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}



.sell-listingCard:hover {
  transform: translateY(-5px);
  box-shadow: 5px 9px 15px rgba(0, 0, 0, 0.15);
}

.sell-listingRight.card {
  width: 40%;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 5px 9px 12px 10px rgba(0, 0, 0, 0.15);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.5rem;
  position: sticky;
  top: 2rem;
  overflow-y: hidden;
  box-sizing: border-box;
}

.sell-upper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}


.sell-upperRight h3 {
  font-size: 1.2rem;
  font-family: 'Poppins', sans-serif;
}

.sell-upperRight h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #555;
}

.sell-upperLeft .sell-likeButton {
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.2s;
}

.sell-upperLeft .sell-likeButton.liked {
  color: red;
}

.sell-upperLeft .sell-likeButton:hover {
  transform: scale(1.2);
}

.sell-listingPrice h1 {
  font-family: 'Poppins', sans-serif;
  color: #222;
  font-size: 2rem;
}


.sell-infoCard {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 4px 4px 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 2%;
}

.sell-infoCard h3 {
  font-family: 'Poppins', sans-serif;
  margin-bottom: 0.3rem;
}

.sell-infoCard p {
  font-family: 'Roboto', sans-serif;
  color: #555;
  margin: 0;
}

.sell-showInterest {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  margin-top: 1rem;
}

.sell-interestButton {
  margin-top: 10%;
  width: 70%;
  padding: 1rem;
  background-color: #0F405E;
  color: #fff;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s;
}

.sell-interestButton:hover {
  background-color: #0056b3;
}

.sell-listingRight.card::-webkit-scrollbar {
  width: 6px;
}

.sell-listingRight.card::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.sell-listingRight.card h1,
.sell-listingRight.card h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #222;
  margin: 0.2rem 0;
}

.sell-listingRight.card p,
.sell-listingRight.card span,
.sell-listingRight.card .sell-infoCard p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 0.95rem;
  color: #555;
  line-height: 1.5;
}

.sell-certifiedWrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
  margin-left: 0.5rem;
  cursor: pointer;
}

.sell-certifiedTooltip {
  visibility: hidden;
  opacity: 0;
  width: max-content;
  background-color: #ffffff;
  color: #09ff00;
  text-align: center;
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
  font-size: 0.8rem;
  position: absolute;
  left: 110%;
  top: 50%;
  transform: translateY(-50%);
  transition: opacity 0.3s;
  white-space: nowrap;
  z-index: 10;
}

.sell-certifiedWrapper:hover .sell-certifiedTooltip {
  visibility: visible;
  opacity: 1;
}

.sell-modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 1rem; 
}

.sell-modalContent {
  background: #fff;
  padding: 2.5rem 3rem;
  border-radius: 15px; 
  width: 60%;
  max-width: 95%;
  box-shadow: 5px 9px 12px rgba(0,0,0,0.25);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: 'Roboto', sans-serif;
}

.sell-modalContent h2 {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  color: #222;
}

.sell-modalContent p {
  margin: 0.2rem 0 1rem 0;
  font-size: 1rem;
  color: #555;
}

.sell-modalContent label {
  margin-top: 0.5rem;
  font-size: 1.1rem;
}

.sell-modalContent input {
  padding: 0.8rem;
  border-radius: 10px;
  border: 1px solid #ccc;
  width: 100%;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.sell-modalLinks {
  display: flex;
  gap: 1rem;
  flex-direction: column-reverse;
  justify-content:space-between;
  align-items: center;
  font-size: 0.9rem;
}

.sell-modalLinks a {
  color: #0F405E;
  text-decoration: none;
}

.sell-modalLinks p {
  margin: 0;
}

.sell-modalButtons {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1.5rem;
}

.sell-cancelButton {
  padding: 1rem 3rem;
  background-color: #ffffff;
  color: #0F405E;
  border: none;
  font-size: 1rem;
  border-radius: 20px;
  border: 1px solid grey;
  cursor: pointer;
  transition: background 0.3s;
}

.sell-cancelButton:hover {
  background: #aaa;
}

.sell-loginButton {
  padding: 1rem 3rem;
  background-color: #0F405E;
  color: #fff;
  border: none;
  font-size: 1rem;
  border-radius: 20px;
  cursor: pointer;
  transition: background 0.3s;
}

.sell-loginButton:hover {
  background-color: #0056b3;
}

.phoneMoreList{
  display: none;
}

.LeftSectMoreListings{
  display: flex;
  width: 100%;
}


.sell-upperRight h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  color: #555;
}

@media (max-width: 1600px) {

  .sell-ListingDetails {
    flex-direction: column;
    padding-left: 2%;
    padding-right: 2%;
  }

  .sell-listingLeft,
  .sell-listingRight.card {
    width: 100%;
  }

  .sell-listingLeft {
    align-items: center;
  }

  .sell-imageScroller {
    width: 95%;
  }

  .sell-ListingInfo {
    width: 100%;
    padding: 2rem;
  }

  .sell-moreListings.card {
    width: 95%;
    padding: 1rem;
  }

  .sell-moreListingsCards {
    flex-direction: column;
    gap: 1rem;
  }

  .sell-listingCard {
    flex: 0 0 100%;
    height: 120px;
  }

  .sell-listingRight.card {
    position: relative;
    max-height: none;
    overflow: visible;
    padding: 1rem;
    margin-top: 2rem;
  }

  .sell-listingRight.card h1,
  .sell-listingRight.card h2,
  .sell-listingRight.card p {
    font-size: 1rem;
  }

  .sell-interestButton {
    width: 90%;
  }

  .phoneMoreList{
    display: block;
    margin-top: 5%;
  }

  .LeftSectMoreListings{
    display: none;
  }

}
