.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
}
.leftSideNav{
    margin-left: 8%;
}

.leftSideNav img {
    width: 100%;
    height: auto;
}

.rightSideNav{
    margin-right: 8%;
}
.loginButton {
    padding: 1rem 3rem 1rem 3rem;
    background-color: #0F405E;
    color: #fff;
    border: none;
    font-size: 1rem;
    border-radius: 20px;
    cursor: pointer;
    transition: background 0.3s;
}

.loginButton:hover {
    background-color: #0056b3;
}
