.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
}
.leftSideNav{
    margin-left: 8%;
}

.leftSideNav img {
    width: 100%;
    height: auto;
}

.rightSideNav{
    margin-right: 8%;
}
.loginButton {
    padding: 0.5rem 3rem 0.5rem 3em;
    background-color: #0F405E;
    color: #fff;
    border: none;
    font-size: 1rem;
    border-radius: 20px;
    cursor: pointer;
    transition: background 0.3s;
}

.loginButton:hover {
    background-color: #0056b3;
}

/* Dropdown wrapper */
.dropdown {
    position: relative;
    display: flex;
    align-items: center;
    
}

/* Dropdown menu */
.dropdownMenu {
    position: absolute;
    top: calc(100% + 8px);
    right: 0;
    background-color: #0F405E; /* same as button */
    border-radius: 16px;
    min-width: 100px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    z-index: 1000;
}

/* Dropdown items */
.dropdownItem {
    width: 100%;
    padding: 1rem 1.4rem;
    background: none;
    border: none;
    color: #ffffff;
    font-size: 1rem;
    text-align: left;
    cursor: pointer;
    transition: background 0.3s;
}

/* Hover effect */
.dropdownItem:hover {
    background-color: #0056b3; /* same hover as button */
}

/* Logout emphasis */
.dropdownItem.logout {
    color: #ffb3b3;
}

.dropdownItem.logout:hover {
    background-color: #8b1e1e;
}
