@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;600;700&display=swap');

* {
  font-family: 'Urbanist', sans-serif !important;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Urbanist', sans-serif;
  background-color: #F1F1F1;
  color: #333333;
  min-height: 100%;
}